* {
    font-family: "Roboto Mono", monospace;
    text-decoration: none; 
    box-sizing: border-box;  

}

body{
    background-color: rgb(68, 87, 96);
     margin: 0; 
     padding: 0;  
     
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #273840;
    color: white;
    
    
}

#title a{
    font-size: 1.7rem;
    margin: .5rem;
    color: white; 
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover{
    background-color: grey; 
    transition: 0.2s; 
}

.hamburger-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 21px;
}

.hamburger-menu .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}

.heading{
    color: white; 
    font-size: 3.4rem; 
    padding: 0; 
    margin-top: 20px; 
    display: flex; 
    justify-content: center;
    font-style: italic; 

}

@media (max-width:800px) {
    .Heading{
        font-size: 2.0rem; 

    }

}

.content{
    color: white; 
    margin-top: 20px; 
    margin-right:50px; 
    margin-left: 50px; 
    text-align: center;
    margin-bottom: 20px; 
    
}

#image1 img{
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 45%; 
    max-width: 350px; 
    border: 2px solid; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.row{
    text-align: center; 
}


.clm{
    display: inline-block;
    vertical-align: top;
}


.clm img{
    max-width: 350px; 
    width: 45%; 
    border: 2px solid;
    border-radius: 10px; 
    margin-top: 20px; 
    margin-right: 100px; 
    margin-left: 100px; 
}

#image2 img{
    max-width: 500px;
    width: 45%;  
    border: 2px solid; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
 
#image3 img{
    max-width: 500px; 
    width: 45%; 
    border: 2px solid; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#image4 img{
    max-width: 700px;
    width: 75%;  
    rotate: left;
    border: 2px solid; 
    border-radius: 10px;
    margin-top: 95px; 
    margin-bottom: 100px; 
    transform: rotate(270deg); 
   
}

#image5 img{
    max-width: 450px; 
    width: 75%; 
    border: 2px solid; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 

}

.content{
    display: flex; 
    justify-content: center; 
}

#image6 img{
    max-width: 650px; 
    width: 75%; 
    border: 2px solid; 
    border-radius: 10px;
    margin-bottom: 20px; 
}

/* Troubleshoots/Final.html Page */ 

.box{
    margin: auto; 
    border: 5px solid;
    border-radius: 10px;
    max-width: 750px; 
    width:  75%; 
    height: 75%; 
    height: 600px;   
    margin-top: 60px; 
    margin-bottom: 60px; 
    background-color:  #273840;
}

#image7 img{
    max-width: 300px; 
    width: 75%; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px; 
    border: 2px solid; 
    border-radius: 10px; 
    border-color: rgb(68, 87, 96);
    float: left; 
    

}

.content2{
    color: white; 
   
}

@media(max-width: 616px ){
    .content2{
        font-size: 0.7rem; 
    }
}

#image8 img{
    max-width: 280px; 
    width: 75%; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px;  
    border: 2px solid; 
    border-radius: 10px; 
    border-color: rgb(68, 87, 96);
    float: left; 
    

}

/* Final.html page */ 

#completed_lab img{
    max-width: 600px; 
    width: 75%; 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 45px; 
    border: 2px solid; 
    border-radius: 25px; 

}