* {
    font-family: "Roboto Mono", monospace;
    text-decoration: none; 
    box-sizing: border-box;  

}

body{
    background-color: rgb(68, 87, 96);
     margin: 0; 
     padding: 0;  
     
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #273840;
    color: white;
    
    
}

#title a{
    font-size: 1.7rem;
    margin: .5rem;
    color: white; 
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover{
    background-color: grey; 
    transition: 0.2s; 
}

.hamburger-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 21px;
}

.hamburger-menu .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}

.Heading{
    color: white; 
    font-size: 3.4rem; 
    padding: 0; 
    margin-top: 20px; 
    display: flex; 
    justify-content: center;
    font-style: italic; 
}

#content1{   
    color: white;
    text-align: center; 
    margin-top: 25px; 
}

.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    max-width: 1200px;
    margin: auto; 
}
    
#image1 img{
    max-width: 300px;
    margin-left: 100px; 
    margin-right: 50px; 
    margin-top: 20px;
    border: 4px solid; 
    border-radius: 20px;  
    float: left;  
}

.bodyheading{
    color: white; 
    font-size: 3.4rem; 
    font-style: italic;
    margin-bottom: 0;
    font-weight: normal; 
    text-align: center;
}          

.bodycontent{
    color: white; 
    font-size: 20px;  
}

#image2 img{
    max-width: 500px;
    margin-left: 100px; 
    margin-right: 50px; 
    margin-top: 20px;
    border: 4px solid; 
    border-radius: 20px;  
    float: left;  
    
}
             

 